<h1>{{title}}</h1>

<h2>Dropdown</h2>

<div class="row">
  <div class="col-md-6">
    <my-dropdown [items]="items" [(dropdownTitle)]="dropdownTitle" (selectEvent)="processSelectEvent($event)"></my-dropdown>
  </div>
  <div class="col-md-6">
    <div>
      <p>Custom title: </p><input type="text" [(ngModel)]="dropdownTitle" name="dropdownTitle" />
    </div>
  </div>
</div>

<h2>Factorial</h2>
<div>Факториал числа <input [(ngModel)]="x" name="x"> равен {{x | factorial}}</div>

<h2>Find phone</h2>
<div>Find phone <input [(ngModel)]="phone" name="phone"></div>
<div>
  <ul>
  <li *ngFor="let phone of phones | findPhone: phone">{{ phone.model }}</li>
</ul>
</div>

<h2>Show users from server(json)</h2>
<div>
  <ul>
    <li *ngFor="let user of users">
      <p>User name: {{user?.name}}</p>
      <p>User age: {{user?.age}}</p>
    </li>
  </ul>

</div>

<h2>@Input @Output</h2>
<div>
  <child-comp [(userName)]="name"></child-comp>
  <div>Selected name: {{name}}</div>
</div>

<div class="test-popover" style="margin: 50px 0;">
  <button class="btn btn-primary" [piPopover]="topPop">Test Button1</button>
  <div>
    <ng-template #topPop>
        <div>Hello world!!!</div>
    </ng-template>
    
  </div>
  
</div>

<div class="test-popover" style="margin: 50px 0;">
  <button class="btn btn-primary" piPopover [piOptions]="piOptions">Test Button2</button>
  <div>
      <app-user-list></app-user-list>
  </div>
</div>

<div class="test-popover" style="margin: 50px 0;">
  <button class="btn btn-primary" piPopover [piOptions]="piOptions2">Test Button3</button>
</div>
